body{
    background-color: #f4f4f4;
    font-size: 20px;
    line-height: 50px;

    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;

    position: fixed;
    left: 0;
    top: 0;
}

.progress{
    width: 100%;
    height: 5px;
    background-color: #bbb;
}

.progress-bar{
    width: 0%;
    background-color: forestgreen;
    height: 5px;
}

.content{
    width: 80%;
    padding: 50px 0;
    margin: 100px auto;
}